@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #ffffff;
}


h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

#profile_photo {
  height: 440px;
  width: 320px;
  float: right;
  border-radius: var(--border-radius);
}


.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

.about-me-summary{
  padding: 0px 20px;
}

.project-image {
  width: 50%;
}


.project-title h3 {
  display: inline;
}

.project-description {
  margin-left: 44px;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}


a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#skills {
  padding: 30px 0px;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

#contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

.project_opening_container {
  padding-bottom: 10px;
}

.project {
  padding: 10px 0px;
}

projects a {
  margin-left: 44px;
  height: 32px;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}


.line {

    height: 7px;
    width: 100%;
    z-index: 1;
}

#download_button, #mouse_button {
  font-size: 24px;
  margin-left: 44px;

}


#line1 {
  background-image: linear-gradient(to right, #ff3f3f, #f2ff3f);
  margin-top: 20px;
}

#line2 {
  background-image: linear-gradient(to right, #f2ff3f, #3fe9ff);
}

#line3 {
  background-image: linear-gradient(to right, #3fa9ff, #b03fff)
}
